<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js and Firebase Auth</title>
    <style>
      .success {
          color: green;
      }
      .error {
          color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Vue.js + Firebase Authentication</h1>
      <div v-if="authUser">
        <h2>Signed in as {{ authUser.email }}</h2>
        <img :src="authUser.photoURL" :alt="authUser.displayName" />
        <p>
          What's up, {{ authUser.displayName ? authUser.displayName : "friend"
          }}?
        </p>
        <button @click="signOut">Sign out</button>
        <form @submit.prevent="updateProfile">
          <h2>Edit my profile</h2>
          <p class="success">Works</p>
          <label for="displayName">
            Your name:
            <input
              type="displayName"
              name="displayName"
              id="displayName"
              v-model="editUserProps.displayName"
            />
          </label>
          <label for="photoURL">
            Your picture:
            <input
              type="photoURL"
              name="photoURL"
              id="photoURL"
              v-model="editUserProps.photoURL"
            />
          </label>
          <button>Update</button>
          <p :class="feedback.cssClass">{{ feedback.message }}</p>
        </form>
        <form @submit.prevent="updateEmail">
          <h2>Change my email</h2>
          <p class="error">
            NB: doesn't work because this
            <a
              href="https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection#disable_email_enumeration_protection"
              target="_blank"
              rel="noopener noreferrer"
              >Enable or disable email enumeration protection</a
            >
          </p>
          <label for="newEmail">
            Your new email:
            <input
              type="email"
              name="newEmail"
              id="newEmail"
              v-model="newEmail"
            />
          </label>
          <button>Update</button>
          <p :class="feedback.cssClass">{{ feedback.message }}</p>
        </form>
        <form @submit.prevent="updatePassword">
          <h2>Change my password</h2>
          <p class="success">Works</p>
          <label for="newPassword">
            Your new password:
            <input
              type="password"
              name="newPassword"
              id="newPassword"
              v-model="newPassword"
            />
          </label>
          <button>Update</button>
          <p :class="feedback.cssClass">{{ feedback.message }}</p>
        </form>
      </div>
      <div v-else>
        <form @submit.prevent="register">
          <h2>Register</h2>
          <label for="registerEmail">
            Your email:
            <input
              type="email"
              name="registerEmail"
              id="registerEmail"
              v-model="email"
            />
          </label>
          <label for="registerPassword">
            Your password:
            <input
              type="password"
              name="registerPassword"
              id="registerPassword"
              v-model="password"
            />
          </label>
          <button>Submit</button>
          <p :class="feedback.cssClass">{{ feedback.message }}</p>
        </form>
        <form @submit.prevent="signIn">
          <h2>Sign-in</h2>
          <label for="siginEmail">
            Your email:
            <input
              type="email"
              name="siginEmail"
              id="siginEmail"
              v-model="email"
            />
          </label>
          <label for="siginPassword">
            Your password:
            <input
              type="password"
              name="siginPassword"
              id="siginPassword"
              v-model="password"
            />
          </label>
          <button>Connect</button>
        </form>
        <div>
          <h2>Sign-in with Google</h2>
          <button @click="signInWithGoogle">Connect with Google</button>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@2.5.16"></script>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script src="app.js"></script>
  </body>
</html>
