/* Inspired by https://codepen.io/alvaromontoro/pen/ebPEWb */

@import url("https://fonts.googleapis.com/css?family=Abel");

html,
body {
  background: #edf3ff;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#app {
  display: flex;
}
.card {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  /* border: 1px solid lightblue; */
  border-radius: 2em;
  margin: 2em;
}

.additional {
  background-color: black;
  border-radius: 2em 2em 2em 20em;
}
.more-info {
  margin-left: 2em;
}
.avatar img {
  border-radius: 20em;
}

.avatar button {
  position: relative;
  top: 1em;
  left: 5em;
}
